# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Desktop
desktop/node_modules/
desktop/db/*.db
desktop/db/*.db-journal
desktop/dist/
desktop/*.log

# Logs and OS
*.log
.DS_Store
Thumbs.db
